{% extends 'base.html' %}
{% from "form_macros.html" import render_field %}

{% block title%}
    {{ title }}
{% endblock %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static', filename='css/select2.css')}}">
{% endblock %}

{% block jumbo %}
    <h1>{{ title }}</h1>
    <form id="add_bookmark" action="" method="post">
        {{form.hidden_tag()}}        
        {{render_field(form.url,size=50, class="form-group")}}
        {{render_field(form.description, size=50, class="form-group")}}
        {{render_field(form.tags, size=50, class="form-group", id="tags")}}
        <div class="form-group row">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
{% endblock %}
    
{% block content %}
    <h6>ROOOAAAR!!!</h6>
{% endblock %}


{% block scripts %}
    <script src="{{url_for('static', filename='scripts/vendor/select2.min.js')}}"></script>
    <script>
        $(document).ready(function(){
            var _tags = {{ all_tags()|map(attribute='name')|list|tojson|safe }};
            $('#tags').select2({tags: _tags, tokenSeparators: [",", " "]});
        });
    </script>
{% endblock %}