<ul class="bookmarks">
    {% for bookmark in bookmarks %}
        <li>
            {% include "bookmark.html" %}
            {% if current_user == bookmark.user %}
                <span class="editlinks pull-right col-md-4">
                    <a href="{{url_for('delete_bookmark', bookmark_id=bookmark.id )}}">delete</a>
                </span>
                <span class="editlinks pull-right">
                    <a href="{{url_for('edit', bookmark_id=bookmark.id )}}">edit</a>
                </span>
            {% endif %}
            <hr>
        </li>
    {% endfor %}
</ul>