<a href="{{ bookmark.url }}" class="header">
    <h3 class="description">
        {% if bookmark.description %}
            {{ bookmark.description|truncate(50,True)}}
        {% else %}
            No Description
        {% endif %}
    </h3>
    <span class="url">
        {{ bookmark.url|truncate(50,True) }}
    </span>
</a>
<div class="info">
       <div class="tags">
        {% if bookmark.tags %}
            {% for t in bookmark._tags %}
                <a href="{{ url_for('bookmarks.tag', name=t)}}">{{ t }}</a>
            {% endfor %}
        {% else %}
            <p>No Tags</p>
        {% endif %}
        </div>

    Added by
    <a href="{{ url_for('bookmarks.user', username=bookmark.user.username )}}">
        {{ bookmark.user.username }}
    </a>
    {{ moment(bookmark.date).fromNow() }}    
</div>
