{% extends 'base.html' %}
{% from "form_macros.html" import render_field %}

{% block title %}
Login
{% endblock %}


{% block jumbo %}
    <h1>Login</h1>
    <form id="Login" action="" method="post">
        {{form.hidden_tag()}}        
        {{render_field(form.username, size=50, class="form-group")}}
        {{render_field(form.password, size=50, class="form-group")}}
        {{render_field(form.remember_me, class="form-group")}}
        {{render_field(form.submit, class="btn btn-primary")}}
    </form>
{% endblock %}